.site-header {
    background-color: $color__primary;
    padding: 0.5rem;
    padding-bottom: 0;
    position: relative;

    h1 {
        max-width: 150px;
        margin: 5rem;
    }
    
    .site-title {
        scale: 0.5;
    }

    h1 {
        margin: 0;
    }

    button {
        background: none;
        outline: none;
        border: none;
        margin-right: 0;
        position: absolute;
        top: 10px;
        right: 0px;
    
        svg {
            fill: $color__text-white;
            scale: 1.2;
        }
    }

    @media(min-width: 37.5em) {
        //display: grid;
        display: flex;
        //justify-content: space-between;
        grid-template-columns: repeat(2, 1fr);

        .main-navigation {  
            display: inline;
            justify-content: stretch;

            .nav-menu{
                justify-content: flex-end;
            }
        }
    }
}