.page-id-31 {

    .site-main {
        max-width: 45em;
        margin: 0 auto;

        article {
            margin-bottom: 4rem;
        }

        article:nth-child(1) {
            margin-bottom: 1rem;
        }
    }
}