// stylelint-disable value-keyword-case
$font__main: 'Archivo', 'Arial', sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: 'Archivo', 'Arial', sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

h2 {
    color: $color__primary;
}

h3 {
    color: $color__secondary;
}
